extends layout.pug  
append style 
    style 
        include ../public/css/card.css
        include ../public/css/clip_path.css
block content 
    style.
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@4200;445;700&display=swap');
        *{
            font-family: 'Roboto Mono', monospace;
        }
        body {
            background: linear-gradient(90deg, rgb(26 26 26), white 200%);
        }
    section.test
      span.card
        span.card_clip_path_c
          .card_icon
            i.fa-solid.fa-circle-info
          .card_heading
            | heading
          .clip_card_txt
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque quam voluptate fugit
            | repudiandae accusamus quisquam voluptatibus enim
        .card_img
          img(src='https://wallpapercave.com/wp/wp2131600.png', alt='')
        .card_title
          h2
            | PVP
        .card_txt
          | description...
        button.card_button
          | read more..
      span.card
        span.card_clip_path_c
          .card_icon
            i.fa-solid.fa-circle-info
          .card_heading
            | heading
          .clip_card_txt
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque quam voluptate fugit
            | repudiandae accusamus quisquam voluptatibus enim
        .card_img
            img(src='https://www.pcgamesn.com/wp-content/uploads/2021/02/minecraft-caves-cliffs-snapshot-21w06a.jpg', alt='')
        .card_title
          h2
            | Mining
        .card_txt
          | description...
        button.card_button
          | read more..
      span.card
        span.card_clip_path_c
          .card_icon
            i.fa-solid.fa-circle-info
          .card_heading
            | heading
          .clip_card_txt
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque quam voluptate fugit
            | repudiandae accusamus quisquam voluptatibus enim
        .card_img
          img(src='https://external-preview.redd.it/IHoEMQvYAfVY7nLkFNIGOWnR0_3fopHCezmuLoe3PIU.png?format=pjpg&auto=webp&s=56eefb747759ba1012763e6f482fde8da7c76074', alt='')
        .card_title
          h2
            | Exploration
        .card_txt
          | description...
        button.card_button
          | read more..
      span.card
        span.card_clip_path_c
          .card_icon
            i.fa-solid.fa-circle-info
          .card_heading
            | heading
          .clip_card_txt
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque quam voluptate fugit
            | repudiandae accusamus quisquam voluptatibus enim
        .card_img
          img(src='https://c.tenor.com/G96cZNXLIeEAAAAC/redstone-minecraft.gif', alt='')
        .card_title
          h2
            | Redstone
        .card_txt
          | description...
        button.card_button
          | read more..
      span.card
        span.card_clip_path_c
          .card_icon
            i.fa-solid.fa-circle-info
          .card_heading
            | heading
          .clip_card_txt
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque quam voluptate fugit
            | repudiandae accusamus quisquam voluptatibus enim
        .card_img
          img(src='https://64.media.tumblr.com/e5bd520f8c269bbdf36f04840e9ebbb0/tumblr_pxoe1whvS41y7ei2ho2_1280.gifv', alt='')
        .card_title
          h2
            | Farming
        .card_txt
          | description...
        button.card_button
          | read more..
      span.card
        span.card_clip_path_c
          .card_icon
            i.fa-solid.fa-circle-info
          .card_heading
            | heading
          .clip_card_txt
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eaque quam voluptate fugit
            | repudiandae accusamus quisquam voluptatibus enim
        .card_img
          img(src='https://fiverr-res.cloudinary.com/t_main1,q_auto,f_auto/gigs/253560010/original/bacce89d9dfb4c258aae52e62509ec116287ef5c.jpeg', alt='')
        .card_title
          h2
            | Building
        .card_txt
          | description...
        button.card_button
          | read more..
